[mysqld]
log-bin = mysql-bin
expire-logs-days = 7
max-binlog-size = 16M
binlog-format = "MIXED"

# GTID replication config
log-slave-updates = On
gtid-mode = On
enforce-gtid-consistency = On

{% if is_slave is defined and is_slave and replication_ignore_tables is defined %}
read-only = ON
{% for ignore_table in replication_ignore_tables %}
replicate-ignore-table={{ ignore_table }}
replicate-ignore-table={{ ignore_table }}
{% endfor %}
{% endif %}
